
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Inter:wght@200;300;400;500&family=Libre+Baskerville&display=swap');
body{
    margin: 0px;
    padding:0px;
    background-image: linear-gradient(110deg, #c3ffb5 0, #a6ffbe 10%, #88ffc6 20%, #67ffcb 30%, #43ffcd 40%, #0cedcb 50%, #00dac7 60%, #00cac3 70%, #00bcc0 80%, #00b0be 90%, #00a7bd 100%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: Inter;
}
input[type=text],input[type=email]{
    all: unset;
  }
.active{
  display: grid;
  opacity: 1; 
} 
.hide{
    display: none;
    opacity: 0;
}
.error-name , .error-mail{
    color: red;
    width:100%;
}
.container-start{
    display: grid;
    box-sizing: border-box;
    z-index: 0;
    opacity: 1;
    grid-template-rows: 15% 25% 60%;
    height: 700px;
    width: 600px;
    margin: 10%;
    border-radius: 0px;
    background-color: #FFFFFF;
}

.title{
    display: flex;
    justify-content: center;
    padding: 10%; 
}
.title h1{
    color:rgba(85, 85, 85, 1);
    font-style: medium;
   font-weight: 550;
}

.description p{
text-align: center;
    padding: 5% 10% ;
    font-size: 20px;
    line-height: 31.5px;
    width: 80%;
    color:  rgba(85, 85, 85, 1);
    ;
}

.register{
    display: grid;
    grid-template-rows:  100%;
    margin:4%;  
   
}

.input-group{
     display: grid;
    grid-template-columns:  100%;
    padding:3%;
    gap: 10%;
    
}

input[type=text],input[type=email],.answer-group{
    border: solid 2px rgb(233, 233, 233);
    background-color: white;
    height: 50px;
    width:99%;
   
}
label{
    margin-left:2%;
    color:rgba(85, 85, 85, 1);
}
.input-error{
    border: solid 2px rgb(248, 9, 9); 
}
.btns{
    display: flex;
  justify-content: space-between;
}

.btn-start{
    background: rgba(2, 138, 61, 1);
    margin: 5% 25%;
    height: 59px;
    width: 226px;
   text-align: center;
   color: white;
   font-size: 20px ;
   box-shadow: ;
}

.container-questions{
    
    box-sizing: border-box;
    display: none;
    grid-template-rows: 20%  80%;
    height: 784px;
    width: 600px;
    margin: 10%;
    opacity: 0;
    border-radius: 0px;
    background-color: #FFFFFF;
    z-index: 10;
    
}
.answers{
    box-sizing: border-box;
}
.answer-group{
    position: relative;
    display: flex;
   margin: 6%;
   width: 80%;
   padding: 2%;
   height: 39px;
   align-items: center;
   
   
}
input:checked{
    accent-color:  rgba(2, 138, 61, 1);
}
.border-susses{
    border: solid 2px rgba(2, 138, 61, 1);;
}
.question{
    display: grid;
    grid-template-columns: 100%;
    padding: 10%; 
    margin: 5% 0;
    gap: 1em;
}
.quiz{
    text-align: center;
    
}
.count{
    display: flex;
    justify-content: space-between;
}
.timer{
    box-sizing: border-box;
    background: rgba(221, 221, 221, 1);

    height: 13px;
    width: 491px;
    border-radius: 10px;
}
.rebours{
    background: rgba(2, 138, 61, 1);
    height: 13px;
    width: 0%;
    border-radius: 10px;
    animation: slidein 60s linear;
  
}
@keyframes slidein {
    from {
        
      width: 100%;
    }
     30% {
        background: rgb(69, 148, 103);
        
    }
    50% {
        background: rgb(22, 149, 77);
    
    }
    60% {
        background: rgb(41, 148, 87);
    
    }
    80% {
        background: rgb(108, 72, 36);
    
    }
   84%{
       background: red;
   } 
  
    to {
        background: red;
      width: 0%;
    }
  }
.btn-quit{
    margin: 4% 6%;
    top: 0px;
    border-radius: 0px;
    background: rgba(236, 136, 12, 1);
    height: 59px;
    width: 226px;
    color: white;
}
.btn-next{
    margin: 4% 6%;
    background: rgba(2, 138, 61, 1);
    height: 59px;
    width: 226px;
    color:white;
   
}

  
  .container-result{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 50% 30%;
    height: 784px;
    width: 600px;
    margin: 10%;
    display: none;
    opacity: 0;
    border-radius: 0px;
    background-color: #FFFFFF;
    z-index: 10; 
  }
  .player{
      position: relative;
      margin: 20%;
     text-align: center;
  }
  .player-name{
     
      font-size: 40px;
  }
  .player-mail{
    
    font-size: 20px;
  }
  .result{
      position: relative;
      display: grid;
      grid-template-columns: auto;
   text-align: center;
   padding:25%;
    gap: 2em;
    
  }
   i{
     font-size: 10em;
     color: rgba(2, 138, 61, 1)
  }
  .fa-circle-xmark{
     color: rgba(255, 56, 56, 1);
  }

.score{
   font-size: 20px;
}
.btns{
    justify-content: center;
    
}
.btn-home{
    background: rgba(8, 128, 214, 1);
    height: 59px;
    width: 226px;
   text-align: center;
   color: white;
   margin-bottom: 35%;
}